{% extends "layout.html" %}

{% block title %}Blog Home | Ben Harris{% endblock %}

{% block header %}
  {{ parent() }}
  <link rel="stylesheet" href="/static/css/sticky-footer-navbar.css">
{% endblock %}

{% block content %}
<div class="container">

        <div class="row">

            {# <!-- Blog Entries Column --> #}
            <div class="col-md-8">

                <h1 class="page-header">
                    My Blog
                    <small>Ben Harris</small>
                </h1>

                {% for slug, post in posts %}
                    {# <!-- First Blog Post --> #}
                    <h2>
                        <a href="{{ slug }}">{{ post.title }}</a>
                    </h2>
                    <p class="lead">
                        by <a href="{{ path('homepage') }}#about">{{ post.author }}</a>
                    </p>
                    <p><span class="glyphicon glyphicon-time"></span> Posted on {{ post.publish_date }}</p>
                    <hr>
                    <img class="img-responsive" src="http://placehold.it/900x300" alt="">
                    <hr>
                    <p>{{ post.content|raw }}</p>
                    <a class="btn btn-primary" href="{{ slug }}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

                    <hr>
                {% endfor %}

                {# <!-- Pager --> #}
                <ul class="pager">
                    <li class="previous">
                        <a href="#">&larr; Older</a>
                    </li>
                    <li class="next">
                        <a href="#">Newer &rarr;</a>
                    </li>
                </ul>

            </div>

            {{ include('blog/sidebar.html') }}

        </div>
        {# <!-- /.row --> #}
</div>

{% endblock %}

{% block footer %}
    {{ parent() }}
    <script>
    jQuery(document).ready(function($){
        $(".nav>li#blog").addClass("active");
    });
    </script>
{% endblock %}

