{% extends "layout.html" %}

{% block title %}{{ post.title }} | Blog | Ben Harris{% endblock %}

{% block header %}
  {{ parent() }}
  <link rel="stylesheet" href="/static/css/sticky-footer-navbar.css">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8">

                <h1>{{ post.title }}</h1>

                <p class="lead">
                    by <a href="{{ post.author_url is defined ? post.author_url : path('homepage')~"#about" }}">{{ post.author ?? "Ben Harris" }}</a>
                </p>
                <hr>

                <p><span class="glyphicon glyphicon-time"></span> Posted on {{ post.publish_date|date("l, F jS Y") }}</p>
                <hr>
                {% if post.image is defined %}
                    <img class="img-responsive" src="{{ post.image.src }}" alt="{{ post.image.alt ?? "" }}">
                    <hr>
                {% endif %}

                <p class="lead">{{ post.content|raw }}</p>
                <hr>
            </div>
            {{ include('blog/sidebar.html') }}
        </div>
        <!-- /.row -->
    </div>
{% endblock %}

{% block footer %}
    {{ parent() }}
    <script>
    jQuery(document).ready(function($){
        $(".nav>li#blog").addClass("active");
    });
    </script>
{% endblock %}
