{% extends "layout.html" %}

{% block title %}Blog Home | Benjamin Harris{% endblock %}

{% block header %}
  {{ parent() }}
  <link rel="stylesheet" href="/css/sticky-footer-navbar.css">
{% endblock %}

{% block content %}
<div class="container">

        <div class="row">

            {# <!-- Blog Entries Column --> #}
            <div class="col-md-8">
                <br>
                <h1>
                    My Blog
                    <small>by Ben Harris</small>
                </h1>

                <hr>

                {% if alert is defined %}
                    <div class="alert alert-danger" role="alert">{{ alert }}</div>
                {% endif %}

                {% for dir, dirs in posts %}
                    {% for slug, post in dirs %}
                        {# <!-- First Blog Post --> #}
                        {% if post.published is not defined or post.published %}
                            <h2 style="font-family: 'Cormorant Garamond', serif;">
                                <a href="{{ url('blog-home') }}{{ dir != "blog-main" ? dir~"/" }}{{ slug }}">{{ post.title }}</a>
                            </h2>
                            <span class="fa fa-clock-o"></span> Posted on {{ post.publish_date|date("l, F jS Y") }}
                            {# <span class="lead"> #}
                                by <a href="{{ post.author_url ?? path('homepage')~"#about" }}">{{ post.author ?? "Ben Harris" }}</a>
                                <br><br>
                            {# </span> #}
                            {% if post.image is defined %}
                                <img class="img-fluid" src="{{ post.image.src }}" alt="{{ post.image.alt ?? "" }}">
                                <hr>
                            {% endif %}
                            <p>{{ post.teaser|raw }}</p>
                            <a class="btn btn-primary" href="{{ url('blog-home') }}{{ dir != "blog-main" ? dir~"/" }}{{ slug }}">Read More <span class="fa fa-chevron-right"></span></a>

                            <hr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}

                {# <!-- Pager --> #}
                {% if posts|length > 10 %}
                    <ul class="pager">
                        <li class="previous">
                            <a href="#">&larr; Older</a>
                        </li>
                        <li class="next">
                            <a href="#">Newer &rarr;</a>
                        </li>
                    </ul>
                {% else %}
                    <p>That's all there is! Thanks for checking out my blog!</p>
                {% endif %}

            </div>

            {{ include('blog/sidebar.html') }}

        </div>
        {# <!-- /.row --> #}
</div>

{% endblock %}

{% block footer %}
    {{ parent() }}
    <script>
    jQuery(document).ready(function($){
        $("#blog").addClass("active");
    });
    </script>
{% endblock %}

