{% extends "layout.html" %}

{% block title %}{{ post.title }} | Blog | Benjamin Harris{% endblock %}

{% block header %}
  {{ parent() }}
  <link rel="stylesheet" href="/css/sticky-footer-navbar.css">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <br>
                <h1 style="font-family: 'Cormorant Garamond', serif;">{{ post.title }}</h1>

                <p class="lead">
                    by <a href="{{ post.author_url is defined ? post.author_url : path('homepage')~"#about" }}">{{ post.author ?? "Ben Harris" }}</a>
                </p>
                <hr>

                {% if post.published is defined and not post.published %}
                    <div class="alert alert-danger" role="alert">Post not published</div>
                {% else %}
                    <p><span class="fa fa-clock-o"></span> Posted on {{ post.publish_date|date("l, F jS Y") }}</p>
                {% endif %}

                <hr>
                {% if post.image is defined %}
                    <img class="img-fluid" src="/img/blog/{{ post.image.src }}" alt="{{ post.image.alt ?? "" }}">
                    <hr>
                {% endif %}

                <p class="lead">{{ post.content|raw }}</p>
                <hr>
            </div>
            {{ include('blog/sidebar.html') }}
        </div>
        <!-- /.row -->
    </div>
{% endblock %}

{% block footer %}
    {{ parent() }}
    <script>
    jQuery(document).ready(function($){
        $("#blog").addClass("active");
    });
    </script>
{% endblock %}
